/* ***** ----------------------------------------------- ***** **
** ***** Setup/Base
** ***** ----------------------------------------------- ***** */

:root {
  @apply u-bg-main-bg-color-light dark:u-bg-main-bg-color-dark;
  font-size: 62.5%;
}

// *::selection {
//   @apply u-bg-grey-dark-6 u-text-white dark:u-bg-grey-light-c dark:u-text-text-main-color;
// }

html {
  -webkit-overflow-scrolling: touch;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  @apply dark:u-text-main-text-color-dark u-text-main-text-color-light
}

a {
  @apply u-text-main-text-color-light  u-no-underline
    u-transition-colors u-duration-slow dark:u-text-main-text-color-dark
}

button {
  // @apply u-text-body;
}

svg {
  @apply u-inline-block u-fill-current;
}

input,
textarea {
  @apply u-bg-transparent  u-rounded-none u-outline-none focus-visible:u-outline-none;
}


code.hljs {
  @apply u-p-[1em];
}

code{
  @apply u-bg-[#424242] u-text-white  
}
