/* ***** ----------------------------------------------- ***** **
** ***** Setup/Base
** ***** ----------------------------------------------- ***** */

:root {
  @apply u-bg-background-white;
  font-size: 62.5%;
}

*::selection {
  @apply u-bg-grey-dark-6 u-text-white dark:u-bg-grey-light-c dark:u-text-text-main-color;
}

html {
  -webkit-overflow-scrolling: touch;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

a {
  @apply u-text-text-main-color hover:u-text-text-gray-light active:u-text-text-gray-medium u-no-underline
    u-transition-colors u-duration-slow dark:u-text-[#d4d4d4] dark:hover:u-text-white;
}

button {
  // @apply u-text-body;
}

svg {
  @apply u-inline-block u-fill-current;
}

input,
textarea {
  @apply u-bg-transparent  u-rounded-none u-outline-none focus-visible:u-outline-none;
}

span,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
blockquote,
time,
hr {
  @apply dark:u-text-[#d4d4d4];
}

code.hljs {
  @apply u-p-[1em];
}

code{
  @apply u-bg-[#424242] u-text-white  
}
