/* ***** ----------------------------------------------- ***** **
** ***** Setup/Base
** ***** ----------------------------------------------- ***** */

:root {
  font-size: 62.5%;
}

*::selection {
  @apply u-text-white u-bg-[#47a3f3];
}

html {
  -webkit-overflow-scrolling: touch;
  @apply u-bg-main-bg-color-light dark:u-bg-main-bg-color-dark;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  @apply dark:u-text-main-text-color-dark u-text-main-text-color-light;
}

a {
  @apply u-text-main-text-color-light  u-no-underline
    u-transition-colors u-duration-slow dark:u-text-main-text-color-dark hover:u-text-main-hover-color;
}

button {
  // @apply u-text-body;
}

svg {
  @apply u-inline-block u-fill-current;
}

input,
textarea {
  @apply u-bg-transparent  u-rounded-none u-outline-none focus-visible:u-outline-none;
}
