{{ define "main" }}
{{ partial "profile.html" . }}
<header class="u-backgroundColorGray tag--header">
    <h1 class="post-title">{{.Title}}</h1>
    <div>{{ .Params.description }}</div>
</header>
<div class="layoutSingleColumn u-paddingTop50">
    {{ range .Data.Pages }}
    <article class="articleItem">
        <h2 class="title">
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </h2>
        <div class="time">{{ .Date | time.Format ":date_long" }}</div>
        <div class="tags">
            {{ range (.GetTerms "tags") }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
    </article>
    {{ end }}
</div>
{{ end }}