{{ define "main" }}

<div class="layoutSingleColumn u-paddingTop50 u-xs-paddingTop15">
    <h2 class="article--headline">{{ .Title }}</h2>
    {{ if .Params.description }}
    <div class="article--subline">
        {{ .Params.description }}
    </div>
    {{end}}
    <div class="article--meta">
        <time datetime='{{.Date.Format "2006-01-02 15:04:01" }}' class="humane--time">{{
            .Date.Format "2006-01-02 15:04:01" }}</time>
        {{ if .Params.categories }}
        <span class="dot"></span>
        {{ range (.GetTerms "categories") }}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ end }}
        {{ end }}
    </div>
    {{ if .IsTranslated }}
    <div class="translatedCard">
        <h4>{{ i18n "translations" }}</h4>
        <ul>
            {{ range .Translations }}
            <li>
                <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end
                    }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    {{ if and $TOCEnabled $hasTOC -}}
    <details class="toc" open>
        <summary class="toc-title">{{ i18n "article.tableOfContents" }}</summary>
        {{ .TableOfContents }}
    </details>
    {{- end }}
    <div class="content graph">
        {{ .Content }}
    </div>
    <div class="article--tags u-paddingTop20">
        {{ range (.GetTerms "tags") }}
        <a href="{{ .RelPermalink }}" class="artile--tag"><span>#</span>{{ .LinkTitle }}</a>
        {{ end }}
    </div>
    {{ range (.GetTerms "categories") }}
    <div class="postCat--item">
        {{ if .Params.cover }}
        <img src="{{ .Params.cover}}" class="cover" />
        {{ end }}
        <div class="postCat--content">
            <a href="{{ .RelPermalink }}" class="artile--category">
                {{ .LinkTitle }}
            </a>
            <p>{{ .Params.description }}</p>
        </div>
    </div>
    {{ end }}
    {{ partial "related.html" . }}
    {{ if .Params.twitter }}
    <div class="twitter--area">
        <a href="{{ .Params.twitter }}" target="_blank" class="twitter--btn">Reply on twitter</a>
    </div>
    {{end}}
</div>

{{ end }}