<header class="metabar metabar--bordered">
	<div class="metabar--block" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
		<h1 class="metabar--headline" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
			<a href='{{ "" | relURL }}' class="metabar--logo" title="Fatesinger">
				{{ $logo := resources.Get "images/logo.png" }}
				<img src="{{ $logo.RelPermalink }}" class="metabar--logoImage" width=38 alt="Fatesinger" height="47" />
			</a>
		</h1>
		<nav class="site--nav">
			<a href='{{ "series" | relURL }}'>Series</a>
			<a href='{{ "categories" | relURL }}'>Categories</a>
			<a href='{{ "tags" | relURL }}'>Tags</a>
			<a href='{{ "movies" | relURL }}'>Movies</a>
			<a href='{{ "about" | relURL }}'>About</a>
		</nav>
	</div>
</header>