{{ define "main" }}

<div class="layoutSingleColumn">
    <div class="articleList u-xs-paddingTop15">
        {{ $pages := .Site.RegularPages }}
        {{ $paginator := .Paginate ($pages) }}
        {{ range $paginator.Pages }}
        <article class="articleItem articleItem__withImage">
            {{ if .Content }}
            {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content }} {{ if $urls }} {{ $url :=index ($urls) 0 }} {{
                $url :=(strings.TrimPrefix "<img src=\"" $url) }}
      {{ $url := strings.TrimRight " \"" $url }} <img src="{{ $url }}" class="cover" /> {{ end }} {{ end }}
            <div class="content">
                <h2 class="title">
                    <a href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </h2>
                <div class="summary">{{ .Summary | truncate 60 }}</div>
                {{ if .Truncated }}
                Read More…
                {{ end }}
                <div class="time">{{ .Date | time.Format ":date_long" }}</div>
            </div>
        </article>
        {{ end }}
    </div>
    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <div class="pagination">
        {{ if $paginator.HasPrev }}
        <span class="prev">
            <a href="{{.Paginator.Prev.URL}}">
                <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}{{ "postsNewer"
                }}{{ end }}
            </a>
        </span>
        {{ end }}

        {{ if $paginator.HasNext }}
        <span class="next">
            <a href="{{.Paginator.Next.URL}}">
                {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}{{ "postsOlder" }}{{ end }} <span
                    class="arrow">→</span>
            </a>
        </span>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}