<header class="u-h-[75px] u-leading-[78px] u-relative u-bg-background-gray-lightestr">
	<div class="u-max-w-[720px] u-mx-auto u-w-[92%] u-pointer-events-auto u-flex u-items-center u-relative u-h-[78px]" itemprop="publisher" itemscope
		itemtype="https://schema.org/Organization">
		<h1 class="u-mr-0" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
			<a href='{{ absoluteUrl }}' class="flex">
				{% if site.logo %}
					<img src="{{ site.logo }}" class="metabar--logoImage" width="38" height="47"/>
				{% endif %}
			</a>
		</h1>
		{% if site.navigation %}

			<nav class="u-flex u-content-center u-ml-auto u-text-[14px]">
				{% for item in site.navigation %}
					<a class="u-mx-[15px] u-items-center u-flex" href="{{ item.url }}">{{ item.label }}</a>
				{% endfor %}
			</nav>
		{% endif %}
		<svg class="u-hidden u-relative" width="1em" height="1em" viewBox="0 0 24 14" fill="currentColor" aria-hidden="true">
			<line x1="24" y1="1" y2="1" stroke="currentColor" stroke-width="2"></line>
			<line x1="24" y1="7" x2="4" y2="7" stroke="currentColor" stroke-width="2"></line>
			<line x1="24" y1="13" x2="8" y2="13" stroke="currentColor" stroke-width="2"></line>
		</svg>
	</div>
</header>
<div class="mask"></div>