---
layout: base
permalink: 404/
---

<div class="u-max-w-[720px] u-mx-auto u-w-[92%]">
    <div class="u-pt-[30px] u-pb-[30px] u-text-center">
        <h1 id="title"><a href="{{ '' | absoluteUrl }}">Go Home</a></h1>
    </div>
</div>
