---
layout: base
pagination:
  data: collections.posts
  size: 7
  alias: posts
permalink: /{% if pagination.pageNumber != 0 %}page/{{ pagination.pageNumber }}/{% endif %}
---
{% set pagetype = "index" %}
<div class="u-max-w-[720px] u-mx-auto u-w-[92%]">
    <div class="u-pt-[30px] u-pb-[30px]">
        
        {% set data = posts %}

        {# {%include "partials/memo.njk" %} #}
        {%include "partials/post.njk" %}
    </div>
    {%include "partials/pagination.njk" %}
</div>