---
layout: base
pagination:
  data: collections.docs
  size: 1
  alias: page
permalink: /{{ page.slug }}/
---
<div class="u-pt-[30px] u-max-w-[720px] u-mx-auto u-w-[92%]">
    <h2 class="u-text-[28px] u-font-[700] u-leading-[1.4] u-mb-[15px]">{{ page.title }}</h2>
    {% if page.feature_image %}
    <figure class="u-mt-[0] -u-mx-[50px] u-mb-[25px] u-relative u-leading-none u-overflow-hidden">
        <img src="{{ page.feature_image }}" alt="{{ page.feature_image_alt }}">
    </figure>
    {% endif %}
    <div class="u-text-text-main-color u-break-all u-text-[16px] u-rich-text">
        {{ page.html | safe }}
        {% include "partials/author.njk" %}
    </div>
    {% include "partials/comment.njk" %}
</div>