---
layout: base
pagination:
  data: collections.tagsPagetion
  size: 1
  alias: tags
permalink: "tag/{{ tags.tagSlug }}/{% if tags.number > 1 %}{{ tags.number }}/{% endif %}index.html"
---
{% set pagetype = "tags" %}
<div class="u-max-w-[720px] u-mx-auto u-w-[92%]" >
    <div class="u-pt-[30px] u-pb-[30px]">

        {% set data = tags.posts %}

        {# {%include "partials/memo.njk" %} #}
        {%include "partials/post.njk" %}
    </div>
    {%include "partials/pagination.njk" %}
</div>